<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name='viewport' content='width=device-width'>
    <meta name='application-name' content='Alces Storage Manager'>
    <meta name='author' content='Alces Software Ltd'>
    <link rel="stylesheet" media="screen" href="<%= @assets.css_bundle_url %>" />
    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="asm-revision" content="<%= @assets.revision %>">

    <title>Alces Storage Manager</title>
    <%= csrf_meta_tags %>
</head>
<body <%= body_element_attrs %>>
    <div id="root"></div>
    <script type="text/javascript" src="<%= @assets.js_bundle_url %>"></script>
</body>
</html>
