<% content_for :title do %>Log in | <% end %>

<h1>Log in</h1>
<p>Please log in with your cluster username and password to access the storage manager.</p>

<% if defined?(@errors) && @errors %>
<p class="error">Username or password incorrect.</p>
<% end %>

<%= form_tag({controller: "login", action: "authenticate", class: "form"}, method: "post") do %>
<div class="form-group">
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username, @user, class: "form-control") %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password, "", class: "form-control") %>
  <%= submit_tag("Log in", class: "btn btn-default") %>
</div>
<% end %>